{{#partial "page-body"}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card text-center">
          <div class="card-header">
            <i class="fa fa-calendar-plus-o"></i> 회의실 예약
          </div>
          <div class="card-body">
            <form id="schedule-form" action="/schedule/save" method="post">
              <div class="form-group row">
                <label for="query" class="col-sm-2 text-right col-form-label">회의실</label>
                <div class="col-sm-4">
                  <select id="conferenceRoom" name="conferenceRoom" class="form-control">
                    {{#each conferenceRoomList}}
                      <option value="{{this}}">{{this.desc}}</option>
                    {{/each}}
                  </select>
                </div>
                <label for="query" class="col-sm-1 text-right col-form-label">회의주제</label>
                <div class="col-sm-4">
                  <input class="form-control" id="conferenceTitle" name="conferenceTitle" type="text" placeholder="회의 주제를 입력해주세요.">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 text-right col-form-label">예약일자</label>
                <div class="col-sm-4 input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                  <input class="form-control" id="scheduleDate" name="scheduleDate" data-date-picker="on" type="text" placeholder="예약 일자">
                </div>
                <label class="col-sm-1 text-right col-form-label">예약시간</label>
                <div class="col-sm-2">
                  <select id="scheduleStartTime" name="scheduleTime" class="form-control">
                    <option value="">시작</option>
                  </select>
                </div>
                <div class="col-sm-2">
                  <select id="scheduleEndTime" name="scheduleTime" class="form-control">
                    <option value="">종료</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="query" class="col-sm-2 text-right col-form-label">반복하기</label>
                <div class="col-auto my-1">
                  <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="activeRepeat">
                    <label class="custom-control-label" for="activeRepeat">반복 설정</label>
                  </div>
                </div>
                <div class="col-auto my-1">
                  <input class="form-control" id="repeatCount" name="repeatCount" type="number" placeholder="반복 수">
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-md-4 col-sm-4 pt-3">
                  <button type="button" class="btn btn-primary btn-block" id="saveBtn"><i class="fa fa-plus-circle"></i> 예약하기</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <hr class="row">
  </div>
{{/partial}}
{{#partial "page-script"}}
  <script src="/js/schedule/form.js"></script>
{{/partial}}
{{> layout}}